<!DOCTYPE html>
<html>
<head>
	<title>Recuperação</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{{ url_for('static', filename="css/for_style.css") }}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
</head>
<body>
	<div class="conteiner">
		<form method="POST" action="">
			<h1>Recuperação</h1>
			<div class="input">
				<i class="fas fa-envelope"></i>
				<input class="insert" type="text" placeholder="E-mail" maxlength="20" size="20"></i>
				
			</div>
			<span class="msg">Insira o E-mail cadastrado no sistema</span> 
			<input class="btn" type="submit" value="ENVIAR"/><br>
			<input class="btn" type="submit" value="VOLTAR"/><br>
		</form>
	</div>
</body>
</html>